<ion-header [translucent]="true">
  <ion-toolbar>
<!--
<ion-buttons slot="end">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="end" name="list-outline" color="dark" size="large"></ion-icon></ion-button>
    </ion-buttons> 
-->
    <ion-title style="text-align: center;">inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="index">
    <h1>Bienvenido/a!</h1>
    <br>
    <p>Esta es la aplicación de DuocUC para marcar las asistencias a las clases!</p><br>
    
    <p>Inicia sesión para poder ver tu interfaz de estudiante!</p>

  </div>
</ion-content>